body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eee; 
    color: #fff !important;
    overflow-x: hidden;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    padding-left: 50px;
    font-size: 200%;
    font-weight: bold;
}

