.filter-page {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #bbb;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 100px;
}

.search_filter {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50px !important;
}

#search_button {
    background-color: #fc0;
    color: #000;
    border-radius: 50px !important;
}

.datepicker {
    background-color: #fff;
    width: 300px;
    height: 250px;
    border: none;
    border-radius: 15px;
}

.datepicker-days {
    width: 100%;
    height: 100%;
    font-size: 85%;
}

.table-condensed {
    width: 100%;
    height: 100%;
    font-size: 85%;
}

.table-condensed > thead {
    color: #666;
}

.table-condensed > tfoot {
    color: #666;
}

td {
    max-width: 25px !important;
}

.day:hover {
    border-radius: 5px !important;
}

.today {
    background-image: none !important;
    background-color: #eee !important;
}

.active {
    background-image: none !important;
    background-color: #fc0 !important;
    color: #000 !important; 
    border-radius: 5px !important;
}

.hour_selector {
    width: 40%;
    border-radius: var(--bs-border-radius) !important;
}

.submit-restaurant {
    background-color: #fc0;
    color: #000;
    border: none;
    border-radius: 50px !important;
}

.submit-restaurant:hover {
    background-color: #fd1;
    border: none;
    color: #000;
}

.main-page {
    width: 80%;
    margin: auto;
}

.proposed {
    margin: 15px 0;
    text-align: center;
    color: #000;
    font-weight: none;
}

.restaurant-card {
    width: 90%;
    padding-bottom: 15px;
    margin: auto;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #ddd;
    transition: 500ms;
}

.restaurant-card:hover {
    -webkit-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px -1px rgba(66, 68, 90, 1);
}

.restaurant-thumb {
    width: 95%;
    height: 200px;
    margin: 10px 2.5%;
    border-radius: 30px;
}

.restaurant-name {
    color: #000;
    text-align: center;
    font-size: 150%;
}

.restaurant-address {
    color: #666;
    font-size: 100%;
    text-align: center;
}

.button-block {
    width: 100%;
}

#rest_button {
    width: 60%;
    margin: 0 20% !important;
    background-color: #fc0;
    color: #000;
    border-radius: 50px !important;
    text-align: center !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.row {
    margin-top: 25px;
}

.image-container {
    position: relative;
    text-align: center;
}

.rate {
    position: absolute;
    bottom: 15px;
    left: 26px;
    font-weight: bold;
    font-size: 125%;
    color: #fc0;
}

.restaurant-view {
    width: 80%;
    margin: 0 10% !important;
    color: #000 !important;
}

.restaurant-info {
    margin: -100px 0 0 0;
}

.reservation-form {
    width: 95%;
    margin: -175px 2.5% 0 2.5%;
    background-color: #fff;
    border-radius: 50px;
    text-align: center;
    padding: 20px;

}

.info-header {
    color: #fff;
}

.reservation-header {
    text-align: center;
}

.info-text {
    margin-top: 55px;
}

.restaurant-desc {
    text-align: justify;
}

.info-rate {
    color: #fc0;
}

.restaurant-image {
    width: 90%;
    margin: 10px 5%;
    border-radius: 30px;
}

.reservation-block {
    margin-top: 40px;
}

.submit-block {
    margin-top: 20px;
}